body {
    font-family: Arial, sans-serif;
    
}
.tireHeader{
    height: 25em;
    background-image: url('/photos/bil-bakgrund.png'); /* Ange sökvägen till din bildfil */
    background-size: cover; /* Se till att bakgrundsbilden täcker hela bakgrunden */
    background-position: center; /* Centrera bakgrundsbilden */
    background-repeat: no-repeat;
    
}
.headerText{
    text-align: center;
}

.product-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    width: 90%;
    padding: 1.5em;
    border: 0.15em solid #ddd;
    text-align: left;
    display: flex;
    
    flex-direction: row; /* Ändrad från "column" till "row" */
}

figure{
 margin: auto;
 width: 25%;
}

.product img {
    margin-left: 2em;
    max-width: 12em; /* Justerat från 100% till 40% */
    height: 12em;
    margin-right: 10em;
    /* Lägger till mellanrum mellan bilden och texten */
}

.product-info {
    flex-grow: 1;
    text-align: center;
    width: 50%;
}

.price-and-button {
    text-align: right;
    width: 25%;
}

button {
    background-color: #E48938;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
}
.pricetag{
    font-size: 1.45em;
    font-weight: bold;
    
}

.hidden {
    display: none;
}
@media only screen and (max-width: 1027px) {
    .product img {
        margin-left: 0.2em;
        max-width: 12em; 
        height: 12em;
        margin-right: 10em;
    }
    .headerText{
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media only screen and (min-width: 1028px) and (max-width: 1250px) {
    .product img {
        margin-left: 0.5em;        
    }
}

